<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
ul, #CustomUL {
  list-style-type: none;
}

#CustomUL {
  margin: 0;
  padding: 0;
}

.color_text{
    color:blue;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}
</style>
</head>
<body>

<h2>Altium Libraries</h2>

{%for libType, libs in libraries.items() %}
  {%if libType == 'schlibs' -%}
  <ul id="CustomUL">
    <li><span class="caret">Schematic libraries  [ <code class="color_text">#libraries: {{libs|length}}</code> , <code class="color_text">#components : {{libs|get_total_comp}}</code> ]</span>
  {% else -%}
  <ul id="CustomUL">
    <li><span class="caret">Pcb libraries [ <code class="color_text">#libraries: {{libs|length}}</code> , <code class="color_text">#components : {{libs|get_total_comp}}</code> ]</span>
  {% endif -%}
      <ul class="nested">
        {%for libname, comps in libs.items() -%}
          <li><span class="caret">{{libname}}  [ <code class="color_text">#components : {{comps|length}}</code> ]</span>
            <ul class="nested">
            {%for comp in comps -%}
              <li><span class="caret">{{ comp.values()|first }}</span>
              <ul class="nested">
              {%for comp_lbl, comp_val in comp.items() -%}
              {%if loop.index > 1 -%}
              {%if comp_lbl == 'Models' and comp_val.__class__.__name__ == 'list' -%}
                <li><span class="caret">Models  [ <code class="color_text">#models : {{comp_val|length}}</code> ]</span>
                  <ul class="nested">
                  {%for model in comp_val -%}
                  {%for model_lbl, model_val in model.items() -%}
                    <li>{{model_lbl}} : <code>{{model_val}}</code></li>
                  {% endfor -%}
                  {% endfor -%}
                  </ul>
                </li>
              {% else -%}
                <li>{{comp_lbl}} : <code>{{comp_val}}</code></li>
              {% endif -%}
              {% endif -%}
              {% endfor -%}
              </ul>
              </li>
            {% endfor -%}
            </ul>
          </li>
        {% endfor -%}
      </ul>
    </li>
{% endfor -%}

<script>
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>

</body>
</html>
